# Python cache
__pycache__/
*.pyc

# Virtual environment
venv/
.venv/
.env

# Jupyter cache
.ipynb_checkpoints/

# VS Code setting
.vscode/

# data
data/processed/
data/raw/
data/stream/stream_order_sample.csv
data/stream/stream_input/*.csv
alternative2_allinonedata/

# Spark output/cache
*.crc
_SUCCESS

# Temporary files
*.log
*.tmp
spark-temp/
